.aboutme {
  font-family: 'Arial', sans-serif;
  color:#E6E6E6;
  background-color: #2F4F4F;
  text-align: center;
}

.jzdesigns {
  position: static;
  font-family: 'Arial', sans-serif;
  background-color: #2F4F4F;
  color:#FFFFFF;
  text-align: center;
}

.currentproducts {
  font-family: 'Arial', sans-serif;
  background-color: #2F4F4F;
  color:#BFBFBF;
  text-align: center;
}

div.gallery:hover {
    border: 2px solid #2F4F4F;
}

div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#products:hover {
  background-color:#5F9EA0;
  color:black;
  max-height:fit-content;
  max-width:fit-content;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  margin: 0;
  padding: 5px;
  text-align: justify;
}

body {
  background-color: black;
  color:#5F9EA0;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  max-width: 800px;
  margin:auto;
}
