@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  background-color: black;
  color:#5F9EA0;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  max-width: 800px;
  margin:auto;
}


.btn {		
	position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .6s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .4s;
}




.from-top {
	position:fixed;
	top:80px;
	right:50px;
}

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

*, *:before, *:after {
	box-sizing: border-box;
}



.about-me {
	position:fixed;
	left: 50px;
	top:80px;
}

.about-me:before, 
.about-me:after {
	left: 0;
	height: 0;
	width: 100%;
}

.about-me:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.about-me:after {
	top: 0;
	height: 0;
}

.about-me:hover:before,
.about-me:hover:after {
	height: 100%;
}





.contact {
	position:fixed;
	right: 50px;
	bottom:80px;
}

.contact:before, 
.contact:after {
	left: 0;
	height: 0;
	width: 100%;
}

.contact:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.contact:after {
	top: 0;
	height: 0;
}

.contact:hover:before,
.contact:hover:after {
	height: 100%;
}


.shop {
	position:fixed;
	left: 50px;
	bottom:80px;
}

.shop:before, 
.shop:after {
	left: 0;
	height: 0;
	width: 100%;
}

.shop:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.shop:after {
	top: 0;
	height: 0;
}

.shop:hover:before,
.shop:hover:after {
	height: 100%;
}

body {
	--def: #5F9EA0; 	
	--inv: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(-25deg, #616161, #5F9EA0, #9d95d0);
}

html {
	font-size: 12px;
	font-family: 'Playfair Display', serif;
}

a:link {
	text-decoration:none;
	
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



.logo {
	position: fixed;
	text-align: center;
	color: white;
	font-size: 150px;
	font-family: Roboto;
}


.topnav .search-container {
    position: fixed;
    top: 0;
    width: 100%;
	float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: far-right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
